In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
def f():
    print("-------------------------")

In [11]:
df = pd.read_csv("data.csv", date_parser=True)
f()
print(f"{df.shape[0]} rows\n{df.shape[1]} columns")

-------------------------
2803 rows
1383 columns

In [12]:
f()
print(f"Columns types distribution:\n\n{df.dtypes.value_counts()}")

-------------------------
Columns types distribution:

float64    1378
object        3
int64         2
dtype: int64

In [13]:
f()
a = df.isna().sum().where(lambda x:x>0).dropna()
print(f"There are {len(a)} (out of {df.shape[1]}, [{round(len(a)/df.shape[1]*100)}%]) columns that contains 1 or more NA")

-------------------------
There are 33 (out of 1383, [2%]) columns that contains 1 or more NA

In [14]:
f()
a = a.sort_values()/len(df)*100
if (a == 100).sum():
    df.drop(columns=a[a==100].index, inplace=True)
    print(f"There are {(a == 100).sum()} columns that are all Missing values, so we droped those.\nNow The data have:\n{df.shape[0]} rows\n{df.shape[1]} columns\n\nDropped columns names:")
    for i in a[a==100].index:
        print(i)
    a = a[a != 100]

-------------------------
There are 31 columns that are all Missing values, so we droped those.
Now The data have:
2803 rows
1352 columns

Dropped columns names:
outgoing_call_logs_weekdays_max_standriezed
outgoind_call_log_COUNT_mean_standriezed
outgoind_call_log_COUNT_median_standriezed
outgoing_call_logs_weekends_mean_standriezed
count_of_days_no_outgoing_call_standriezed
outgoind_call_log_COUNT_min_standriezed
picture_count_Downloads_standriezed
outgoind_call_log_COUNT_max_standriezed
outgoing_call_logs_weekends_max_standriezed
outgoing_call_logs_weekends_std_standriezed
outgoing_call_logs_weekends_min_standriezed
outgoind_call_log_COUNT_std_standriezed
outgoing_call_logs_weekdays_mean_standriezed
days_since_last_outgoing_call_standriezed
calendar_events_count_standriezed
outgoing_call_logs_weekdays_std_standriezed
video_standriezed
audio_standriezed
darkweb_count_ratio_standriezed
dangerous_count_ratio_standriezed
darkweb_count_standriezed
dangerous_count_standriezed
null_weekday_min_standriezed
null_weekend_min_standriezed
SENT_weekend_min_standriezed
INBOX_weekend_min_standriezed
picture_count_Videos_standriezed
picture_count_Images_standriezed
picture_count_Documents_standriezed
outgoing_call_logs_weekdays_min_standriezed
days_between_first_and_last_day_outgoing_call_standriezed

In [15]:
f()
print(f"NA columns data type Distribution:\n\n{df[a.index].dtypes.value_counts()}")

-------------------------
NA columns data type Distribution:

float64    2
dtype: int64

In [16]:
f()
if a.size:
    print(f"NaN Ratio (0-100)\n\n{a}")
else:
    print("Now There is no NaN value in our Data")

-------------------------
NaN Ratio (0-100)

min_call_Duration_sqrt    0.035676
min_call_Duration_log     0.035676
dtype: float64

In [17]:
if a.size:
    f()
    ans = input("Are you need to remove some columns?[y|n]")
    if ans == "y":
        to_remove = input("Please Enter columns names delimated by $\neg:Columns_1$Columns_2").split("$")
        df.drop(columns=to_remove, inplace=True)
        print(f"Now The Data have:\n{df.shape[0]} rows\n{df.shape[1]} columns")

-------------------------

Are you need to remove some columns?[y|n] n

In [21]:
# IMPUTING missing values??????????????

In [ ]:
# Numerical Data Validation

In [28]:
# f()
# numerical_cols = df.head().select_dtypes("number").columns
# if numerical_cols:
#     df[numerical_cols].agg([min,max,np.mean])
df[numerical_cols]

,displyname_nunique,contacts_qty,number_as_name_qty,number_as_name_ratio,engslish_contacts_qty,engslish_contacts_ratio,arabic_contacts_qty,arabic_contacts_ratio,picture_count_Downloads,audio_count_Downloads,...,max_timestamp_month_sqrt,max_timestamp_month_standriezed,max_timestamp_month_log,poly_2_max_timestamp_month,poly_3_max_timestamp_month,max_timestamp_day_sqrt,max_timestamp_day_standriezed,max_timestamp_day_log,poly_2_max_timestamp_day,poly_3_max_timestamp_day
0,200.0,210.0,6.0,0.028571,88.0,0.419048,0.447619,0.002132,0.0,1.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,1.825742,-0.428005,0.522892,11.111111,37.037037
1,824.0,855.0,0.0,0.000000,342.0,0.400000,0.400000,0.000468,0.0,14.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,1.825742,-0.428005,0.522892,11.111111,37.037037
2,104.0,104.0,0.0,0.000000,7.0,0.067308,0.067308,0.000647,0.0,26.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,1.825742,-0.428005,0.522892,11.111111,37.037037
3,126.0,127.0,0.0,0.000000,2.0,0.015748,0.015748,0.000124,0.0,3.0,...,4.082483,-3.934867,1.221851,277.777778,4629.629630,1.825742,-0.428005,0.522892,11.111111,37.037037
4,1284.0,1291.0,0.0,0.000000,76.0,0.058869,0.058869,0.000046,0.0,0.0,...,2.886751,-4.368124,0.920824,69.444444,578.703704,7.302967,3.090168,1.727000,2844.444444,151703.703704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,582.0,585.0,0.0,0.000000,23.0,0.039316,0.039316,0.000067,0.0,0.0,...,9.128709,-0.468808,1.920819,6944.444444,578703.703704,4.082483,0.510175,1.221851,277.777778,4629.629630
2799,428.0,428.0,0.0,0.000000,6.0,0.014019,0.014019,0.000033,0.0,0.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,3.651484,0.275630,1.124942,177.777778,2370.370370
2800,617.0,634.0,2.0,0.003155,157.0,0.247634,0.250789,0.000396,0.0,0.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,4.082483,0.510175,1.221851,277.777778,4629.629630
2801,569.0,715.0,0.0,0.000000,15.0,0.020979,0.020979,0.000029,0.0,0.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,4.082483,0.510175,1.221851,277.777778,4629.629630
2802,1020.0,1022.0,0.0,0.000000,8.0,0.007828,0.007828,0.000008,0.0,0.0,...,10.000000,0.397706,2.000000,10000.000000,1000000.000000,3.162278,0.041085,1.000004,100.000000,1000.000000

Index(['displyname_nunique', 'contacts_qty', 'number_as_name_qty',
       'number_as_name_ratio', 'engslish_contacts_qty',
       'engslish_contacts_ratio', 'arabic_contacts_qty',
       'arabic_contacts_ratio', 'picture_count_Downloads',
       'audio_count_Downloads',
       ...
       'max_timestamp_month_sqrt', 'max_timestamp_month_standriezed',
       'max_timestamp_month_log', 'poly_2_max_timestamp_month',
       'poly_3_max_timestamp_month', 'max_timestamp_day_sqrt',
       'max_timestamp_day_standriezed', 'max_timestamp_day_log',
       'poly_2_max_timestamp_day', 'poly_3_max_timestamp_day'],
      dtype='object', length=1349)