In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
def f():
    print("-------------------------")

In [74]:
df = pd.read_csv("data.csv", date_parser=True)
f()
print(f"{df.shape[0]} rows\n{df.shape[1]} columns")

-------------------------
2803 rows
1383 columns

In [75]:
f()
print(f"Columns types distribution:\n\n{df.dtypes.value_counts()}")

-------------------------
Columns types distribution:

float64    1378
object        3
int64         2
dtype: int64

In [76]:
f()
a = df.isna().sum().where(lambda x:x>0).dropna()
print(f"There are {len(a)} (out of {df.shape[1]}, [{round(len(a)/df.shape[1]*100)}%]) columns that contains 1 or more NA")

-------------------------
There are 33 (out of 1383, [2%]) columns that contains 1 or more NA

In [77]:
f()
a = a.sort_values()/len(df)*100
if (a == 100).sum():
    df.drop(columns=a[a==100].index, inplace=True)
    print(f"There are {(a == 100).sum()} columns that are all Missing values, so we droped those.\nNow The data have:\n{df.shape[0]} rows\n{df.shape[1]} columns\n\nDropped columns names:")
#     for i in a[a==100].index:
#         print(i)
    a = a[a != 100]

-------------------------
There are 31 columns that are all Missing values, so we droped those.
Now The data have:
2803 rows
1352 columns

Dropped columns names:

In [78]:
f()
print(f"NA columns data type Distribution:\n\n{df[a.index].dtypes.value_counts()}")

-------------------------
NA columns data type Distribution:

float64    2
dtype: int64

In [79]:
f()
if a.size:
    print(f"NaN Ratio (0-100)\n\n{a}")
else:
    print("Now There is no NaN value in our Data")

-------------------------
NaN Ratio (0-100)

min_call_Duration_sqrt    0.035676
min_call_Duration_log     0.035676
dtype: float64

In [80]:
if a.size:
    f()
#     is ko uncomment karna h
#     ans = input("Are you need to remove some columns?[y|n]")
    ans = "n" 
    if ans == "y":
        to_remove = input("Please Enter columns names delimated by $\neg:Columns_1$Columns_2").split("$")
        df.drop(columns=to_remove, inplace=True)
        print(f"Now The Data have:\n{df.shape[0]} rows\n{df.shape[1]} columns")

-------------------------

In [52]:
# IMPUTING missing values??????????????

In [81]:
only_one_unique_value = df.nunique().where(lambda x:x == 1).dropna()
if only_one_unique_value.size:
    df.drop(columns=only_one_unique_value.index, inplace=True)
    print(f"There are {only_one_unique_value.size} variables That have only one unique value, so we drop those.\n\nNow the data have:\n{df.shape[0]} rows\n{df.shape[1]} columns\n\nThose columns names in order:\n")
#     for i in only_one_unique_value.index.sort_values():
#         print(i)

There are 157 variables That have only one unique value, so we drop those.

Now the data have:
2803 rows
1195 columns

Those columns names in order:

In [101]:
all_values_are_unique = df.apply(lambda x:x.is_unique).where(lambda x:x==True).dropna()
if all_values_are_unique.size:
    df.drop(columns=all_values_are_unique.index, inplace=True)
    print(f"There are {all_values_are_unique.size} column/s that have all unique values, so no value repeatation, we droped those columns.\n\nThose column/s name/s are:\n")
#     for i in f.index:
#         print("\t", i)
del all_values_are_unique

There are 1 column/s that have all unique values, so no value repeatation, we droped those columns.

Those column/s name/s are:

	 file_name

In [53]:
# Numerical Data Validation

In [82]:
numerical_cols = df.head().select_dtypes("number").columns
numerical_summary = df[numerical_cols].agg([min,max, np.mean, 'count', pd.Series.nunique]).T
numerical_summary.columns = numerical_summary.columns.str.capitalize()
del numerical_cols

In [83]:
min_is_nagetive = numerical_summary.Min[numerical_summary.Min < 0]
if min_is_nagetive.size:
    print(f"There are {min_is_nagetive.size} numeric columns that have minimum value is less than 0, is This ok?\n\nThose columns names (in order):\n\n")
#     for i in min_is_nagetive.index.sort_values():
#         print(i)
del min_is_nagetive

There are 383 numeric columns that have minimum value is less than 0, is This ok?

Those columns names (in order):

In [84]:
min_is_0 = numerical_summary.Min[numerical_summary.Min == 0]
if min_is_0.size:
    print(f"There are {min_is_0.size} numeric columns that have minimum value is 0, is This ok?\n\nThose columns names (in order):\n\n")
#     for i in min_is_0.index.sort_values():
#         print(i)
del min_is_0

There are 729 numeric columns that have minimum value is 0, is This ok?

Those columns names (in order):

In [85]:
def plot_numerical_columns(col_name):
    df[col_name].plot(figsize=(13,8));
    plt.title(col_name, size=18);
    plt.axhline(y=df[col_name].mean(), color='red');
    plt.axhline(y=df[col_name].median(), color='green');
    plt.legend(['Actual', 'Mean', 'Median']);
    plt.show()
    
    df[col_name].sort_values().reset_index(drop=True).plot(figsize=(13,8));
    plt.title(col_name+" (SORTED)", size=18);
    plt.axhline(y=df[col_name].mean(), color='red');
    plt.axhline(y=df[col_name].median(), color='green');
    plt.legend(['Actual', 'Mean', 'Median']);
    plt.show()

    df[col_name].plot(kind="box", figsize=(13,8))
    plt.title(col_name, size=18);
    plt.xlabel("");
    plt.show()
    
# for col_ in df.select_dtypes("number").columns:
#     plot_numerical_columns(col_)