In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
def new_line():
    print("-------------------------")

def plot_numerical_columns(col_name):
    df[col_name].plot(figsize=(13,8));
    plt.title(col_name, size=18);
    plt.axhline(y=df[col_name].mean(), color='red');
    plt.axhline(y=df[col_name].median(), color='green');
    plt.legend(['Actual', 'Mean', 'Median']);
    plt.show()
    
    df[col_name].sort_values().reset_index(drop=True).plot(figsize=(13,8));
    plt.title(col_name+" (SORTED)", size=18);
    plt.axhline(y=df[col_name].mean(), color='red');
    plt.axhline(y=df[col_name].median(), color='green');
    plt.legend(['Actual', 'Mean', 'Median']);
    plt.show()

    df[col_name].plot(kind="box", figsize=(13,8))
    plt.title(col_name, size=18);
    plt.xlabel("");
    plt.show()
    
    
def data_shape():
    return f"The Data have:\n\t{df.shape[0]} rows\n\t{df.shape[1]} columns\n"

In [114]:
df = pd.read_csv("data.csv", date_parser=True)
new_line()
print(data_shape())

-------------------------
The Data have:
	2803 rows
	1383 columns

In [115]:
new_line()
print(f"Columns types distribution:\n\n{df.dtypes.value_counts()}")

-------------------------
Columns types distribution:

float64    1378
object        3
int64         2
dtype: int64

In [116]:
new_line()
a = df.isna().sum().where(lambda x:x>0).dropna()
print(f"There are {len(a)} (out of {df.shape[1]}, [{round(len(a)/df.shape[1]*100)}%]) columns that contains 1 or more NA")

-------------------------
There are 33 (out of 1383, [2%]) columns that contains 1 or more NA

In [117]:
new_line()
a = a.sort_values()/len(df)*100
if (a == 100).sum():
    df.drop(columns=a[a==100].index, inplace=True)
    print(f"There are {(a == 100).sum()} columns that are all Missing values, so we droped those.\nNow {data_shape()}\n\nDropped columns names:")
#     for i in a[a==100].index:
#         print("\t",i)
    a = a[a != 100]

-------------------------
There are 31 columns that are all Missing values, so we droped those.
Now The Data have:
	2803 rows
	1352 columns


Dropped columns names:

In [118]:
new_line()
print(f"NA columns data type Distribution:\n\n{df[a.index].dtypes.value_counts()}")

-------------------------
NA columns data type Distribution:

float64    2
dtype: int64

In [120]:
new_line()
if a.size:
    print(f"NaN Ratio (0-100)\n\n{a}")
else:
    print("Now There is no NaN value in our Data")

-------------------------
NaN Ratio (0-100)

min_call_Duration_sqrt    0.035676
min_call_Duration_log     0.035676
dtype: float64

In [121]:
if a.size:
    new_line()
#     is ko uncomment karna h
#     ans = input("Are you need to remove some columns?[y|n]")
    ans = "n" 
    if ans == "y":
        to_remove = input("Please Enter columns names delimated by $\neg:Columns_1$Columns_2").split("$")
        df.drop(columns=to_remove, inplace=True)
        print(f"Now {data_shape()}")

-------------------------

In [52]:
# IMPUTING missing values??????????????

In [122]:
only_one_unique_value = df.nunique().where(lambda x:x == 1).dropna()
if only_one_unique_value.size:
    new_line()
    df.drop(columns=only_one_unique_value.index, inplace=True)
    print(f"There are {only_one_unique_value.size} variables That have only one unique value, so we drop those.\n\nNow {data_shape()}\n\nThose columns names in order:\n")
#     for i in only_one_unique_value.index.sort_values():
#         print(i)
del only_one_unique_value

-------------------------
There are 157 variables That have only one unique value, so we drop those.

Now The Data have:
	2803 rows
	1195 columns


Those columns names in order:

In [123]:
all_values_are_unique = df.apply(lambda x:x.is_unique).where(lambda x:x==True).dropna()
if all_values_are_unique.size:
    new_line()
    df.drop(columns=all_values_are_unique.index, inplace=True)
    print(f"There are {all_values_are_unique.size} column/s that have all unique values, so no value repeatation, we droped those columns.\n\nNow {data_shape()}\nThose column/s name/s are:\n")
#     for i in f.index:
#         print("\t", i)
del all_values_are_unique

-------------------------
There are 1 column/s that have all unique values, so no value repeatation, we droped those columns.

Now The Data have:
	2803 rows
	1194 columns

Those column/s name/s are:

In [53]:
# Numerical Data Validation

In [82]:
numerical_cols = df.head().select_dtypes("number").columns
numerical_summary = df[numerical_cols].agg([min,max, np.mean, 'count', pd.Series.nunique]).T
numerical_summary.columns = numerical_summary.columns.str.capitalize()
del numerical_cols

In [83]:
min_is_nagetive = numerical_summary.Min[numerical_summary.Min < 0]
if min_is_nagetive.size:
    new_line()
    print(f"There are {min_is_nagetive.size} numeric columns that have minimum value is less than 0, is This ok?\n\nThose columns names (in order):\n\n")
#     for i in min_is_nagetive.index.sort_values():
#         print(i)
del min_is_nagetive

There are 383 numeric columns that have minimum value is less than 0, is This ok?

Those columns names (in order):

In [103]:
min_is_0 = numerical_summary.Min[numerical_summary.Min == 0]
if min_is_0.size:
    new_line()
    print(f"There are {min_is_0.size} numeric columns that have minimum value is 0, is This ok?\n\nThose columns names (in order):\n\n")
#     for i in min_is_0.index.sort_values():
#         print(i)
del min_is_0

There are 729 numeric columns that have minimum value is 0, is This ok?

Those columns names (in order):

In [124]:
new_line()    
# for col_ in df.select_dtypes("number").columns:
#     plot_numerical_columns(col_)

-------------------------

In [131]:
numerical_summary[~numerical_summary.Nunique.isin([1, len(df)])]

,Min,Max,Mean,Count,Nunique
displyname_nunique,12.000000,7.230000e+03,4.782790e+02,2803.0,1051.0
contacts_qty,12.000000,1.441100e+04,5.605844e+02,2803.0,1151.0
number_as_name_qty,0.000000,2.426000e+03,3.782019e+00,2803.0,57.0
number_as_name_ratio,0.000000,7.785623e-01,5.960546e-03,2803.0,1119.0
engslish_contacts_qty,0.000000,1.440600e+04,2.322440e+02,2803.0,705.0
...,...,...,...,...,...
max_timestamp_day_sqrt,1.825742,1.016530e+01,2.771474e+00,2803.0,22.0
max_timestamp_day_standriezed,-0.428005,6.608342e+00,7.097823e-17,2803.0,22.0
max_timestamp_day_log,0.522892,2.014241e+00,8.274173e-01,2803.0,22.0
poly_2_max_timestamp_day,11.111111,1.067778e+04,2.905696e+02,2803.0,22.0
poly_3_max_timestamp_day,37.037037,1.103370e+06,2.121613e+04,2803.0,22.0